[submodule "gc/libatomic_ops"]
	path = gc/libatomic_ops
	url = git://github.com/ivmai/libatomic_ops.git
[submodule "gc/bdwgc"]
	path = gc/bdwgc
	url = git://github.com/ivmai/bdwgc.git
[submodule "llvm"]
	path = llvm
	url = http://llvm.org/git/llvm.git
